<header>
  <div class="navbar-fixed">
    <nav class="black">
      <div class="nav-wrapper">
        <a routerLink="{{paths.HOME}}" class="brand-logo-fix hide-on-small-only">
           <img class="responsive-img pointer" src="../../assets/images/marvel-logo.png">
        </a>
        <ul id="nav-mobile" class="right hide-on-small-only">
          <li><a routerLink="{{paths.HOME}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><strong>Home</strong></a></li>
          <li><a routerLink="{{paths.SEARCH}}" routerLinkActive="active"><strong>Search</strong></a></li>
          <li><a routerLink="{{paths.CHARACTERS}}" routerLinkActive="active blue-grey darken-1 white-text"><strong>Characters</strong></a></li>
          <li><a routerLink="{{paths.COMICS}}" routerLinkActive="active green darken-1 white-text"><strong>Comics</strong></a></li>
          <li><a routerLink="{{paths.CREATORS}}" routerLinkActive="active indigo darken-1 white-text"><strong>Creators</strong></a></li>
        </ul>
        <ul class="right hide-on-med-and-up">
          <li><a routerLink="{{paths.HOME}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">home</i></a></li>
          <li><a routerLink="{{paths.SEARCH}}" routerLinkActive="active"><i class="material-icons">search</i></a></li>
          <li><a routerLink="{{paths.CHARACTERS}}" routerLinkActive="active"><strong><i class="material-icons">person</i></strong></a></li>
          <li><a routerLink="{{paths.COMICS}}" routerLinkActive="active"><strong><i class="material-icons">book</i></strong></a></li>
          <li><a routerLink="{{paths.CREATORS}}" routerLinkActive="active"><strong><i class="material-icons">border_color</i></strong></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>