<div class="navbar-fixed">
  <nav class="black">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><strong>Home</strong></a></li>
        <li><a routerLink="/search" routerLinkActive="active"><strong>Search</strong></a></li>
        <li><a routerLink="/characters" routerLinkActive="active"><strong>Characters</strong></a></li>
        <li><a routerLink="/comics" routerLinkActive="active"><strong>Comics</strong></a></li>
        <li><a routerLink="/creators" routerLinkActive="active"><strong>Creators</strong></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/search"><i class="material-icons">search</i></a></li>
      </ul>
    </div>
  </nav>
</div>

