<header>
  <div class="navbar-fixed">
    <nav class="black">
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-small-only">
          <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><strong>Home</strong></a></li>
          <li><a routerLink="/search" routerLinkActive="active"><strong>Search</strong></a></li>
          <li><a routerLink="/characters" routerLinkActive="active"><strong>Characters</strong></a></li>
          <li><a routerLink="/comics" routerLinkActive="active"><strong>Comics</strong></a></li>
          <li><a routerLink="/creators" routerLinkActive="active"><strong>Creators</strong></a></li>
        </ul>
        <ul class="left hide-on-med-and-up">
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><i class="material-icons">home</i></a></li>
            <li><a routerLink="/search" routerLinkActive="active"><i class="material-icons">search</i></a></li>
            <li><a routerLink="/characters" routerLinkActive="active"><strong><i class="material-icons">person</i></strong></a></li>
            <li><a routerLink="/comics" routerLinkActive="active"><strong><i class="material-icons">book</i></strong></a></li>
            <li><a routerLink="/creators" routerLinkActive="active"><strong><i class="material-icons">border_color</i></strong></a></li>
          </ul>
      </div>
    </nav>
  </div>

</header>