<h2 class="center">
    {{character.name}}</h2>
<div class="col s12 m4">
    <div class="col s12">
        <img class="responsive-img" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="">
        <p>{{character.description}}</p>
    </div>
</div>

<div class="character-detail">

    <div *ngIf="character.comics.items[0]" class="col s12 m4">
        <h3>Comics</h3>

        <div class="collection">
            <a href="#!" *ngFor="let comic of character.comics.items" class="collection-item">{{comic.name}}</a>
        </div>
    </div>

    <div *ngIf="character.events.items[0]" class="col s12 m4">
        <h3>Events</h3>

        <div class="collection">
            <a href="#!" *ngFor="let event of character.events.items" class="collection-item">{{event.name}}</a>
        </div>
    </div>

    <div *ngIf="character.stories.items[0]" class="col s12 m4 offset-m4">
        <h3>Stories</h3>

        <div class="collection">
            <a href="#!" *ngFor="let storie of character.stories.items" class="collection-item">{{storie.name}}</a>
        </div>
    </div>

    <div *ngIf="character.series.items[0]" class="col s12 m4">
        <h3>Series</h3>

        <div class="collection">
            <a href="#!" *ngFor="let serie of character.series.items" class="collection-item">{{serie.name}}</a>
        </div>
    </div>
</div>