<div class="row container main-section">
    <div *ngIf="character">
        <h2 class="title-character center">
            {{character.name}}</h2>
        <div class="col s12 m6">
            <div class="col s12">
                <div *ngIf="loading" class="center loader-character-detail">
                    <app-loader></app-loader>
                </div>
                <img [hidden]="loading" (load)="onLoad()" class="responsive-img img-character-detail" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                    alt="">
                <p>{{character.description}}</p>
            </div>
        </div>

        <div *ngIf="character.comics.items[0]" class="character-detail">
            <div class="col s12 m6">
                <h3>Comics</h3>

                <div class="collection">
                    <a *ngFor="let comic of character.comics.items" (click)="goToComicDetail(comic.resourceURI)" class="collection-item">{{comic.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>