<div class="row container main-section">
    <app-loader *ngIf="!character"></app-loader>
    <div *ngIf="character">
        <h2 class="color-character center">
            {{character.name}}</h2>
        <div class="col s12 m12 l6 xl6">
            <div class="col s12">
                <div *ngIf="loading" class="center loader-character-detail">
                    <app-loader></app-loader>
                </div>
                <img [hidden]="loading" (load)="setLoading(false)" class="responsive-img margin-top-detail" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                    alt="">
                <p>{{character.description}}</p>
            </div>
        </div>

        <div *ngIf="character.comics.items[0]" class="character-detail">
            <div class="col s12 m12 l6 xl6">
                <h3>Comics</h3>

                <div class="collection">
                    <a *ngFor="let comic of character.comics.items" (click)="goTo(paths.COMICS, comic.resourceURI)" class="collection-item color-character">{{comic.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>