<div class="row container main-section">
    <app-card [color]="'blue-grey darken-1'" [pathImg]="'../../assets/images/character-choice.png'" [urlDetail]="'/characters'"
      [title]="'Characters'"></app-card>

      <app-card [color]="'green darken-1'" [pathImg]="'../../assets/images/comic-choice.jpg'" [urlDetail]="'/comics'"
      [title]="'Comics'"></app-card>

      <app-card [color]="'red darken-1'" [pathImg]="'../../assets/images/creator-choice.jpg'" [urlDetail]="'/creators'"
      [title]="'Creators'"></app-card>
</div>