<div class="row container main-section">
  <div routerLink="/characters" class="col s12 m6 l6 xl4 pointer">
    <div class="card blue-grey darken-1 search-card">
      <div class="wrapper-search">
        <div class="card-search-wrapped card-content white-text">
          <span class="center card-title"><strong>Characters</strong></span>
          <div class="card-image">
            <img src="../../assets/images/character-choice.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div routerLink="/comics" class="col s12 m6 l6 xl4 pointer">
    <div class="card green darken-1 search-card">
      <div class="wrapper-search">
        <div class="card-search-wrapped card-content white-text">
          <span class="center card-title"><strong>Comics</strong></span>
          <div class="card-image">
            <img src="../../assets/images/comic-choice.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div routerLink="/creators" class="col s12 m6 l6 xl4 pointer">
    <div class="card red darken-1 search-card">
      <div class="wrapper-search">
        <div class="card-search-wrapped card-content white-text">
          <span class="center card-title"><strong>Creators</strong></span>
          <div class="card-image">
            <img src="../../assets/images/creator-choice.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>