<div class="row container">
    <app-loader *ngIf="!creator"></app-loader>
    <div *ngIf="creator">
        <h2 class="title-creator center">
            {{creator.fullName}}</h2>
        <div class="col s12 m12 l6 xl6">
            <div class="col s12">
                <div *ngIf="loading" class="center loader-creator-detail">
                    <app-loader></app-loader>
                </div>
                <img [hidden]="loading" (load)="setLoading(false)" class="responsive-img margin-top-detail" src="{{creator.thumbnail.path}}.{{creator.thumbnail.extension}}"
                    alt="">
            </div>
        </div>

        <div *ngIf="creator.comics.items[0]" class="creator-detail">
            <div class="col s12 m12 l6 xl6">
                <h3>Comics</h3>

                <div class="collection">
                    <a *ngFor="let comic of creator.comics.items" (click)="goTo('/comics', comic.resourceURI)" class="collection-item">{{comic.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>