.wrapper-card {
    width: 100%;
    display: inline-block;
    position: relative;
}

.wrapper-card:after {
    padding-top: 160%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.card-wrapped {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}