<div class="row container">
  <h2 class="title-creator">Creators</h2>

  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Search" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateCreatorsSearch()"
          id="search" class="validate">
      </div>
    </div>
  </form>


  <app-loader *ngIf="!creators"></app-loader>

  <div *ngFor="let creator of creators">
      <app-card [color]="'red darken-1'" [pathImg]="creator.thumbnail.path + '.' + creator.thumbnail.extension" [urlDetail]="'/creators/' + creator.id"
      [title]="creator.fullName"></app-card>
  </div>
</div>