<div class="row container main-section">
  <h2 class="color-creator">Creators</h2>

  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Search" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateSearch(name)"
          id="search" class="validate">
      </div>
    </div>
  </form>

  <app-loader *ngIf="!creators"></app-loader>

  <div class="hide-on-small-only" *ngFor="let creator of creators">
    <app-card [color]="'indigo darken-1'" [pathImg]="creator.thumbnail.path + '.' + creator.thumbnail.extension" [urlDetail]="paths.CREATORS + '/' + creator.id"
      [title]="creator.fullName"></app-card>
  </div>

  <ul class="collection hide-on-med-and-up">
    <li *ngFor="let creator of creators" routerLink="{{paths.CREATORS + '/' + creator.id}}" class="pointer collection-item avatar indigo-text">
      <img src="{{creator.thumbnail.path + '.' + creator.thumbnail.extension}}" alt="" class="circle">
      <span class="title"><strong>{{creator.fullName}}</strong></span>
    </li>
  </ul>
</div>