<div class="row container main-section">
  <h2 class="title-comic">Comics</h2>

  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Search" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" (ngModelChange)="updateSearch(title)"
          id="search" class="validate">
      </div>
    </div>
  </form>

  <app-loader *ngIf="!comics"></app-loader>

  <div class="hide-on-small-only" *ngFor="let comic of comics">
    <app-card [color]="'green darken-1'" [pathImg]="comic.thumbnail.path + '.' + comic.thumbnail.extension" [urlDetail]="'/comics/' + comic.id"
      [title]="comic.title"></app-card>
  </div>

  <ul class="collection hide-on-med-and-up">
      <li *ngFor="let comic of comics" routerLink="{{'/comics/' + comic.id}}" class="pointer collection-item avatar green-text">
        <img src="{{comic.thumbnail.path + '.' + comic.thumbnail.extension}}" alt="" class="circle">
        <span class="title"><strong>{{comic.title}}</strong></span>
        <p class="truncate">{{comic.description}}</p>
      </li>
    </ul>
</div>