<div routerLink="/characters" class="col s12 m6">
    <div class="card black main-card">
        <div class="card-content white-text">
            <div class="card-image">
                <img src="../../assets/images/character-choice.png">
            </div>
            <span class="card-title">Characters</span>
        </div>
    </div>
</div>

<div routerLink="/comics" class="col s12 m6">
    <div class="card green main-card">
        <div class="card-content white-text">
            <div class="card-image">
                <img src="../../assets/images/comic-choice.jpg">
            </div>
            <span class="card-title">Comics</span>
        </div>
    </div>
</div>