.img-character-card{
    cursor: pointer;
}

.wrapper-character {
    width: 100%;
    display: inline-block;
    position: relative;
}

.wrapper-character:after {
    padding-top: 150%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

.card-character-wrapped {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}