/* You can add global styles to this file, and also import other style files */
.center {
    text-align: center;
}

body{
    background-color: firebrick;
    color: white;
}

.collapsible-body {
    background-color: white;
}

.collection a {
    cursor: pointer;
}

.collection a.collection-item {
    background-color: darkred;
    color: white!important;
}

.loader {
    height: 400px;
    padding-top: 200px; 
}