/* You can add global styles to this file, and also import other style files */
.center {
    text-align: center;
}

body {
    color: black;
    letter-spacing: 2px;
}

h1, h2, h3, h4, h5 {
    font-size: 25px;
    font-family: Marvel;
    letter-spacing: 2px;
}

.collapsible-body {
    background-color: white;
}

.collection a {
    cursor: pointer;
}

.loader {
    height: 400px;
    padding-top: 200px; 
}

.collection a.collection-item {
    font-weight: bold;
}

.color-comic {
    color: #43a047!important;
}

.color-character {
    color: #455a64!important;
}

.color-creator {
    color: #3949ab!important;
}

.main-section {
    min-height: 1000px;
}

.home-section{
    min-height: 500px;
}

img[hidden] { 
    display: none!important; 
}

.nav-wrapper .active {
    background-color: white;
    color: black;
}

.pointer {
    cursor: pointer;
}

.margin-top-detail {
    margin-top: 86px;
}

@font-face {
    font-family: 'Marvel';
    src: url('assets/fonts/marvel.ttf');
}
