<div class="parallax-container" id="parallaxHome">
  <div class="parallax" materialize="parallax"><img src="../../assets/images/header-marvel.jpg"></div>
</div>

<div class="info">
  <div (click)="goToSearch()" class="row container info-text-container">
    <p class="center">
      SEARCH YOUR FAVORITE MARVEL CHARACTER !
    </p>
  </div>
</div>


<div class="row container main-section">
  <h3>Lorem ipsum dolor sit amet</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam risus justo, mollis non mattis pharetra, ornare sed nunc.
    Praesent commodo tellus vitae dui porttitor, sed finibus mi vulputate. Maecenas dictum nisi et sem consequat, sit amet
    vehicula mauris bibendum. Nullam lobortis ut est at ornare. Suspendisse in est volutpat, sagittis metus eget, laoreet
    urna. Aenean vulputate sem mauris. Cras ullamcorper, sapien sit amet lacinia placerat, dolor urna tincidunt arcu, quis
    finibus metus lorem ut sem. Fusce tempor dui vel est auctor, dictum mollis turpis tincidunt. Proin eget purus at mi molestie
    iaculis. Mauris id ullamcorper orci, sed luctus ex. Cras bibendum molestie ligula ac rhoncus.</p>
</div>